<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Planos de Teste</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="bg-dark text-white">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Jiga de Test - IFSC</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				{% for key, plano in planos.items() %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('main.plano_info', plano=key) }}">{{ plano.nome }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
	<div class="container mt-5">
		<h1 class="text-center">Escolha um Plano de Teste</h1>
		<div class="row mt-4">
			{% for key, plano in planos.items() %}
			<div class="col-md-4">
				<div class="card text-dark bg-light mb-3">
					<div class="card-header">{{ plano.nome }}</div>
					<div class="card-body">
						<p class="card-text">{{ plano.descricao }}</p>
						<a href="{{ url_for('main.plano_info', plano=key) }}" class="btn btn-primary">Ver Detalhes</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>